@media screen and (max-width: 600px) {
	.header-right a:not(:first-child) { display: none;}
	.header-right a.icon {
		float: right;
		display: block;
	}

	.fa-egg {
		padding: 15px 15px;
	}
	.header-left h3 {
		font-size: 16px;
		margin-right: 25px;
	}

	
}

@media screen and (max-width: 600px) {
	.header-right.responsive {position: relative;}
	.header-right.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.header-right.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}